<body>
    <div class="container">

       
      
      

        <div class="d-flex justify-content-center">
            <h1 class="display-4 mt-5">Dashboard</h1>
        </div>


        <div id="divChart">
            <canvas id="myChart"> </canvas>
        </div>
        <ng-template #noblogs>

            <div class="d-flex justify-content-center">
                <h3 class="text-dark mt-3">You don't have any blogs yet...</h3>
            </div>

            <button class="btn btn-lg btn-outline-primary mt-4 mb-4" (click)="createBlog()">
                New Blog
            </button>


            <button class="btn btn-lg btn-outline-primary mt-4 mb-4" (click)="sort()">
                Sort
            </button>

        </ng-template>

        <ng-template [ngIf]="userBlogs.length > 0" [ngIfElse]="noblogs">


            <div fxLayout="row" fxLayoutAlign="space-between center">

                <button class="btn btn-lg btn-outline-primary mt-4 mb-4" (click)="createBlog()">
                    New Blog
                </button>

                <button class="btn btn-lg btn-outline-primary mt-4 mb-4" (click)="sort()">
                    Sort
                </button>

                <!-- <button class="btn btn-outline-primary" slot="end" (click)="users()" *ngIf="user.admin==true">
                    User management
                </button> -->
            </div>




            <div class="md-form mt-0">
                <input [(ngModel)]="searchTerm" class="form-control mr-sm-2" type="text" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-secondary" (click)="search()">
                    Search
                </button>
            </div>


            <table matSort (matSortChange)="sortData($event)" matSortActive="name" matSortDirection="asc"
                matSortDisableClear class="table table-hover sortable  table-striped matSort"
                (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <th mat-sort-header="Title">Title</th>
                        <th mat-sort-header="Snippet">Snippet</th>
                        <th mat-sort-header="Action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let userBlog of sortedData">
                        <td>
                            {{ userBlog.title | summary:30 }}
                        </td>
                        <td>
                            {{ userBlog.content | summary:90 }}
                        </td>
                        <td>
                            <button class="btn btn-info d-inline mr-1" (click)="editBlog(userBlog.blogId)">
                                Edit
                            </button>

                            <button *ngIf="!userBlog.deleteConfirm" class="btn btn-danger d-inline"
                                (click)="confirmDelete(userBlog)">
                                Delete
                            </button>

                            <div *ngIf="!!userBlog.deleteConfirm">
                                Sure?

                                <button class="btn btn-link p-1" (click)="deleteConfirmed(userBlog, userBlogs)">
                                    Yes
                                </button>

                                <button class="btn btn-link p-1" (click)="cancelDeleteConfirm(userBlog)">
                                    No
                                </button>



                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </ng-template>




    </div>

</body>